body { 
	color: white; 
	text-align: center 
}

a {
	color: red;
}

a:link{
	text-decoration:none; /* unvisited link */ 
}

a:visited{
	text-decoration:none; /* visited link */
}

a:hover {
	text-decoration:underline; /* mouse over link */
	font-size:150%;
}

/* Want welcome.html to have 4 sections: header, footer, left column, main body */

img{
	max-width:70%;
	max-height:70%
}

.header {
	min-height: 10%;
	margin-bottom: 5px;
}

.left_column {
	float:left;
	width:19%;
	height:50%;
	text-align: left;
	margin-right: 5px;
}

.right_column {
	float:right;
	width:19%;
	height:50%;
}

.mainbody {
	margin:auto;
	width:50%;
	height:50%;
	padding: 5px;
}


.footer {
	position: fixed;
	bottom:5;
	left:5;
	right:5;
	height: 40%; 

}

